
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: gray;
}

li {
  list-style: none;
}

.headerBar {
  display: flex;
  width: 95%;
  height: 100px;
  margin: auto;
}

h2 {
  margin-right: 10px;
  font-size: 40px;
  margin: 0;
  margin-top: 15px;
  margin-right: 30px;
  color: #F56400;
  font-family: serif;
}

.searchBar {
  width: 360px;
  height: 15px;
  margin-top: 20px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid gray;
  padding: 10px;
  font-size: 15px;
  outline: none;
}

.submitBtn {
  width: 100px;
  height: 37px;
  margin-top: 20px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  background: #3CB1CB;
  color:white;
  font-size: 15px;
  outline: none;
}

.menu {
  height: 30px;
  line-height: 30px;
  display: flex;
  position: relative;
  left: 470px;
  margin-top: 25px;
  padding: 0;
}

.menu a {
  margin-right: 20px;
  color: #0192B5;
  font-size: 15px;
}

.signIn {
  width: 60px;
  height: 30px;
  line-height: 10px;
  margin-right: 20px;
  border: 1px solid #0192B5;
  outline: none;
  border-radius: 3px;
  background: white;
  color: #0192B5;
  font-size: 15px;
}

.signIn:hover {
  background: #0192B5;
}

.fa-shopping-cart {
  color: gray;
  font-size: 20px;
  padding-left: 15px;
}

.cart {
  color: gray;
  font-size: 13px;
  border-left: 1px solid #ccc
}

.word {
  position: relative;
  left: 15px;
  bottom: 10px;
}

nav {
  height: 50px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
}

.navBar {
  display: flex;
}

.navBar li {
  text-align: center;
  position: relative;
  font-size: 15px;
  margin-right: 25px;
}

.navBar a:hover {
  padding-bottom: 15px;
  border-bottom: 3px solid #F56400;
  color: black;
}


.mainContainer {
  width: 100%;
  margin: auto;
  display: flex;
}

.sideContainer {
  width: 20%;
}

.imageDiv {
  width: 80%;
}

.imageOneSet ul{
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.imageOneSet img {
  width: 350px;
  height: 260px;
  border-radius: 5px;
}

.imageOneSet p{
  position: absolute;

}

.imageTwoSet ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.imageTwoSet img {
  width: 250px;
  height: 200px;
  border-radius: 5px;
}

.dataImages {
  width: 97%;
}

.images {
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.images li {
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.images img {
  width: 258px;
  height: 220px;
}

.images p {
  font-size: 10px;
}